<ion-header>
    <ion-toolbar>
        <ion-title>
            <!-- <ion-buttons> -->
                <ion-button
                    color="outline"
                    [routerLink]="['/']"
                >
                    <ion-icon name="arrow-back"></ion-icon>
                </ion-button>
            <!-- </ion-buttons> -->
            Join
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
            <ion-card-title>{{ name }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-label>Username:</ion-label>
            <ion-input
                type ="text"
                [(ngModel)]="username"
                color="dark"
            >
            </ion-input>

            <ion-button
                (click)="test()"
            >
                Join
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
