<ion-header>
  <ion-toolbar>
    <ion-back-button 
      color="primary" 
      slot="start" 
      [routerLink]="['/win-loss-stats', currentTourneyId]"
      routerDirection="back"
    >
    </ion-back-button>
    <ion-title>
      Most Klasks
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let k of klaskArray">
      <ion-label>
        {{ k.name }}
      </ion-label>
      <small>
        {{ k.klaskOffenses }}
      </small>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot=primary>
      <ion-button 
        slot="end" 
        [routerLink]="['/win-loss-stats', currentTourneyId]"
        color="secondary"
        expand="outline"
        fill="solid"
      >
        Back
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-footer>
