<ion-header>
  <ion-toolbar>
    <ion-back-button 
      color="primary" 
      slot="start" 
      [routerLink]="['/win-loss-stats', currentTourneyId]"
      routerDirection="back"
    >
    </ion-back-button>
    <ion-title>
      Tourney Stats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let s of statArray">
      <ion-label>
        {{ s.name }}
      </ion-label>
      <small>
        {{ s.count }}
      </small>
    </ion-item>
  </ion-list>

</ion-content>
<ion-item>
  <ion-label>Which stat would you like to view?</ion-label>
  <ion-select [(ngModel)] = "userStat" interface = "popover" (ionChange)="displayUserStat()">
    <ion-select-option value="klask">Most klasks</ion-select-option>
    <ion-select-option value="loss-control">Most LOC points</ion-select-option>
    <ion-select-option value="biscuit">Most Biscuits</ion-select-option>
    <ion-select-option value="score">Points Scored</ion-select-option>
  </ion-select>
</ion-item>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot=primary>
      <ion-button 
        slot="end" 
        [routerLink]="['/win-loss-stats', currentTourneyId]"
        color="secondary"
        expand="outline"
        fill="solid"
      >
        Back
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-footer>
