<ion-header>
  <ion-toolbar>
    <ion-back-button 
      color="primary" 
      slot="start" 
      [routerLink]="['/win-loss-stats', currentTourneyId]"
      routerDirection="back"
    >
    </ion-back-button>
    <ion-title>
      Tourney Stats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item
      *ngFor="let s of statArray">
      <ion-label>
        {{ s.name }}
      </ion-label>
      <small>
        {{ s.count }}
      </small>
    </ion-item>
  </ion-list>

</ion-content>
<!-- <ion-item>
  <ion-label>The most...</ion-label>
  <ion-select [(ngModel)] = "userStat" 
			  interface = "popover" 
			  (ionChange)="displayUserStat()">
    <ion-select-option value="klask">Klasks</ion-select-option>
    <ion-select-option value="loss-control">Loss of Controls</ion-select-option>
    <ion-select-option value="biscuit">Biscuits</ion-select-option>
    <ion-select-option value="score">Points Scored</ion-select-option>
  </ion-select>
</ion-item> -->

<ion-segment value="test"
			 [(ngModel)] = "userStat"
			 (ionChange) = "displayUserStat()"
			 color="white">
	<ion-segment-button value="klask">
		<ion-label>Klasks</ion-label>
	</ion-segment-button>
	<ion-segment-button value="loss-control">
		<ion-label>Loss of Control</ion-label>
	</ion-segment-button>
	<ion-segment-button value="biscuit">
		<ion-label>Biscuits</ion-label>
	</ion-segment-button>
	<ion-segment-button value="score">
		<ion-label>Points</ion-label>
	</ion-segment-button>
</ion-segment>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot=primary>
      <ion-button 
        slot="end" 
        [routerLink]="['/win-loss-stats', currentTourneyId]"
        color="secondary"
        expand="outline"
        fill="solid"
      >
        Back
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-footer>
