.input {
    background-color: black;
    color: darkgray;
    border-radius: 7px;
    border-color: black;
    padding: .5em;
    width: 100%;
    margin: 5px;
    margin-left: 2px;
    
}

.input:focus {
    outline: none;
}

ion-card-header {
    text-align: center;
}

ion-card-content {
    text-align: center;
}

ion-button {
    margin-top: 10px;
}
