<ion-header>
    <ion-toolbar>
        <ion-title>
            Game Setup
        </ion-title>
        <ion-back-button
            color="primary"
            slot="start"
            [routerLink]="['/win-loss-stats', currentTourneyId]"
            routerDirection="back">
        </ion-back-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-title>Player Names</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <input  
                type="text" 
                class="input"
                [(ngModel)]="playerOne" 
                placeholder="Player 1"
                [ngbTypeahead]="search"/>

            <input 
                type="text" 
                class="input"
                [(ngModel)]="playerTwo" 
                placeholder="Player 2"
                [ngbTypeahead]="search"/>
            <ion-button
                (click)="startGame(playerOne, playerTwo)"
                [routerLink]="['/game-scoring', currentTourneyId]"
                fill="outline"
                color="success">
                Start
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>

