<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Klask Tourneys
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-divider>
            <ion-label>Open</ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let t of tournaments">
            <ion-label>
                {{t.tourneyName}}
            </ion-label>
            <small>
                <ion-button>Join</ion-button>
            </small>
        </ion-item>
        <ion-item-divider>
            <ion-label>Active</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label>
                Foo
            </ion-label>
            <small>
                <ion-button>Open</ion-button>
            </small>
        </ion-item>
        <ion-item>
            <ion-label>
                Bar
            </ion-label>
            <small>
                <ion-button>Open</ion-button>
            </small>
        </ion-item>
        <ion-item-divider>
            <ion-label>Past</ion-label>
        </ion-item-divider>

        <ion-item>
            <ion-label>
                Cat
            </ion-label>
            <small>
                <ion-button>View</ion-button>
            </small>
        </ion-item>

    </ion-list>
</ion-content>