<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Klask Stats
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item-divider>
            <ion-label>Purchase Tourney</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-text
                color="dark"
            >
                Coming soon...
            </ion-text>
        </ion-item>
        <ion-item-divider>
            <ion-label>Join</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-input 
                placeholder="Enter registration code"
                [(ngModel)]="registrationCode"
            >
            </ion-input>
            <small>
                <ion-button 
                    [routerLink]="['/join-tourney', registrationCode]"
                    fill="outline"
                    color="success"
                >
                    Join
                </ion-button>
            </small>
        </ion-item>
        <ion-item-divider>
            <ion-label>My Tourneys</ion-label>
        </ion-item-divider>
        <ion-item>
            <ion-label>
                Sample 1
                <p>Open to see sample stats!</p>
            </ion-label>

            <ion-icon name="trash" style="font-size: 1.25em;"></ion-icon>
            &nbsp;
            &nbsp;
            <small>
                <ion-button fill="outline">
                    Open
                </ion-button>
            </small>
        </ion-item>
        <ion-item>
            <ion-label>
                Free Trial
                <p>Try running your own tourney!</p>
            </ion-label>
            <ion-icon name="trash" style="font-size: 1.25em;"></ion-icon>
            &nbsp;
            &nbsp;
            <small>
                <ion-button
                    [routerLink]="['/win-loss-stats']"
                    fill="outline"
                >
                    Open
                </ion-button>
            </small>
        </ion-item>
    </ion-list>
</ion-content>