.flex-container {
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: center;
    width: 90%;
}

ion-card {
    flex-grow: 2;
    flex-basis: 0;
}

ion-card-header {
    overflow: auto;
    white-space: nowrap;
}

.player-name {
    font-size: 2em;
    color: white;
}

.middle-buttons {
    flex-grow: 1;
    align-self: center;
    flex-basis: 0;
}

.scoreButton {
    height: calc((100vh - 125px - 12vw));
    font-size: calc((100vh - 125px - 25vw) * .68);
}