.main-grid {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 14px;
    --ion-grid-padding: 5px;
    justify-self: center;
}

.height-box {
    height: calc((100vh - 269px));
}

.score-row ion-button {
    height: calc((100vh - 125px - 10vw));
    font-size: calc((100vh - 125px - 10vw) * .68);
}

ion-col {
    width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%);
    max-width: calc(calc(6 / var(--ion-grid-columns, 12)) * 100%)
}

.playerNameDisplay {
    margin: 0 auto;
}