<ion-header>
	<ion-toolbar>

		<ng-container [ngSwitch] = "true">
			<ion-title *ngSwitchCase = "!isGameOver" style="text-align: center;">Game 1</ion-title>
			<ion-title *ngSwitchCase = "isGameOver" style="text-align: center;">G A M E  O V E R !</ion-title>
		</ng-container>

  	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid class="ion-no-padding main-grid">
		<div class="height-box">
			<ion-row class="name-row">
				<ion-col class="left" size="5.8">
					<ion-item class="ion-no-margin
									 ion-no-padding">
						<div class="playerNameDisplay">Trevor</div>
					</ion-item>
				</ion-col>
				<ion-col size="0.4"></ion-col>
				<ion-col class="right" size="5.8">
					<ion-item class="ion-no-margin 
									 ion-no-padding">
						<div class="playerNameDisplay">Valeria</div>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row class="score-row">
				<ion-col class="left" size="5.8">
					<ion-button id="player1"
								class="ion-no-margin 
									   ion-no-padding
									   ion-color
									   ion-color-primary"
								expand="block" 
								(click)="presentActionSheet(0)">
						{{ playerOneScore }}
					</ion-button>
				</ion-col>
				<ion-col size=".4"></ion-col>
				<ion-col class="right" size="5.8">
					<ion-button id="player2"
								class="ion-no-margin
									   ion-no-padding
									   ion-color
									   ion-color-tertiary" 
								expand="block" 
								(click)="presentActionSheet(1)">
						{{ playerTwoScore }}
					</ion-button>
				</ion-col>
			</ion-row>
			<ion-row class="swap-side-row">
				<ion-col size="12">
					<ion-button>
						<ion-icon name="repeat-outline"></ion-icon>
					</ion-button>
				</ion-col>
			</ion-row>
		</div>
	</ion-grid>
</ion-content>