<ion-header>
	<ion-toolbar>
    	<ion-title style="text-align: center;">Game 1</ion-title>
  	</ion-toolbar>
</ion-header>

<ion-content>

	<ion-grid class="ion-no-padding main-grid">
		<div class="height-box">
			<ion-row class="name-row">
				<ion-col class="left" size="5.9">
					<ion-item class="ion-no-margin
									 ion-no-padding">
						<ion-label>Trevor</ion-label>
					</ion-item>
				</ion-col>
				<ion-col size="0.2"></ion-col>
				<ion-col class="right" size="5.9">
					<ion-item class="ion-no-margin 
									 ion-no-padding">
						<ion-icon class="ion-text-left"name="caret-forward-outline"></ion-icon>
						<ion-label class="ion-text-right">
							Valeria
						</ion-label>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row class="score-row">
				<ion-col class="left" size="5.9">
					<ion-button id="player1"
								class="ion-no-margin 
									   ion-no-padding
									   ion-color
									   ion-color-primary"
								expand="block" 
								(click)="presentActionSheet(0)">
						{{ scores[0] }}
					</ion-button>
				</ion-col>
				<ion-col size=".2"></ion-col>
				<ion-col class="right" size="5.9">
					<ion-button id="player2"
								class="ion-no-margin
									   ion-no-padding
									   ion-color
									   ion-color-tertiary" 
								expand="block" 
								(click)="presentActionSheet(1)">
						{{ scores[1] }}
					</ion-button>
				</ion-col>
			</ion-row>
		</div>
	</ion-grid>

	<!-- <ion-button id="leftButton" expand="block" (click)="presentActionSheet()">Log point scored</ion-button>
	<div class="split left">
		<p>3</p>
		<ion-item>6</ion-item>
	</div> -->

	<!-- <ion-button id="upsideDownButton" expand="block" (click)="presentActionSheet()">Log point scored</ion-button>
	<div class="split right">
	</div> -->
</ion-content>
